.allchats{
    display: flex;
    width: 360px;
    padding: 20px 16px 20px 16px;
    align-items: center;
    gap: 4px;
    background: var(--ui-white, #FFF);  
    color: var(--text-100, #201F1E);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    box-shadow: -1px 0px 0px 0px rgba(32, 31, 30, 0.12) inset;
}